name: Manual workflow

on:
  workflow_dispatch:
    inputs:
      key:
        description: 'Google API Key'
        required: true
        type: string     
      city:
        description: 'Enter City'
        required: true
        type: string

jobs:
  run-k6-script:
    runs-on: ubuntu-latest
    steps:
    # Checkout `main` branch
    - name: Checkout
      uses: actions/checkout@v4
    # Setup env with K6
    - name: Setup k6
      uses: grafana/setup-k6-action@v1
    # Obscure user's Google API Key
    - id: obscure-key-step
      name: Obscure API Key
      run: |
        API_KEY=$( cat $GITHUB_EVENT_PATH | jq -r '.inputs.key')
        echo "::add-mask::$API_KEY"
        echo "input-key=$API_KEY" >> "$GITHUB_OUTPUT"
    # Run K6 script
    - name: Run k6
      uses: grafana/run-k6-action@v1
      env: 
        GOOGLE_API_KEY: ${{ steps.obscure-key-step.outputs.input-key }}
        LOCATION: ${{ inputs.city }}
      with:
        path: ./sdet_geocode_api_test.ts

